<% if new_comment.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% new_comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [report, new_comment] do |comment_form| %>
  <div class="field">
    <%= comment_form.label :content %>
    <%= comment_form.text_area :content %>
  </div>

  <div class="actions">
    <%= comment_form.submit %>
  </div>
<% end %>
