<h1><%= t '.header' %></h1>

<%= t '.not_exists' if @other.followings.count == 0 %>
<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @followed_users.each do |followed| %>
      <tr>
        <td><%= followed.email %></td>
        <td><%= followed.name %></td>
        <td><%= link_to t('views.common.show'), user_path(followed) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('views.common.back'), user_path(@other) %>
<br>
