<h1><%= t('views.common.title_show', name: User.model_name.human) %></h1>

<p>
  <strong><%= User.human_attribute_name(:email) %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= User.human_attribute_name(:address) %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong><%= User.human_attribute_name(:avatar) %>:</strong>
  <% if @user.avatar.attached? %>
    <br>
    <%= image_tag @user.avatar.variant(resize_to_fill: [150, 150]) %>
  <% end %>
</p>

<p>
  <strong><%= link_to t('.link.followings'), user_followings_path(@user) %>:</strong>
  <%= @user.followings.count %>人 |
  <strong><%= link_to t('.link.followers'), user_followers_path(@user) %>:</strong>
  <%= @user.followers.count %>人
</p>

<% if current_user != @user %>
  <% if current_user.following?(@user) %>
    <%= button_to t('.button.unfollow'), user_following_path(@user), method: :delete %>
  <% else %>
    <%= button_to t('.button.follow'), user_followings_path(@user) %>
  <% end %>
<% end %>
<br>
<% if current_user == @user %>
  <%= link_to t('views.common.edit'), edit_user_registration_path %> |
<% end %>
<%= link_to t('views.common.back'), users_path %>
