<p id="notice"><%= notice %></p>

<p>
<strong><%= @attr_locales[:title] %>:</strong>
  <%= @book.title %>
</p>

<p>
<strong><%= @attr_locales[:memo] %>:</strong>
  <%= @book.memo %>
</p>

<p>
<strong><%= @attr_locales[:author] %>:</strong>
  <%= @book.author %>
</p>

<p>
<strong><%= @attr_locales[:picture] %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to @link_locales[:edit], edit_book_path(@book) %> |
<%= link_to @link_locales[:back], books_path %>
