<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:user_id) %></th>
      <th><%= Report.human_attribute_name(:created_at) %></th>
      <th><%= Report.human_attribute_name(:updated_at) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.user.name_or_email %></td>
        <td><%= l report.created_at %></td>
        <td><%= l report.updated_at %></td>
        <td><%= link_to t('views.common.show'), report %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @reports %>

<%= link_to t('views.common.new'), new_report_path %>
