<p>
  <strong><%= Report.human_attribute_name(:posting_user_id) %>:</strong>
  <%= name_or_email @report.user %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= l @report.created_at, format: :long %>

  <strong><%= Report.human_attribute_name(:updated_at) %>:</strong>
  <%= l @report.updated_at, format: :long %>
</p>

<p>
<strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
<strong><%= Report.human_attribute_name(:content) %></strong>
</p>

<div style="border: 3px solid #cc4343; margin: 20px;">
  <% @report.content.each_line(chomp: true) do |line| %>
    <%= tag.p line %>
  <% end %>
</div>

<% if current_user == @report.user %>
  <button onclick="location.href=<%= "'#{edit_report_path(@report)}'" %>"><%= t 'views.common.edit' %></button>

  <%= button_to t('views.common.destroy'), @report, method: :delete %> <br>
<% end %>

<%= render 'comments/show', commentable: @report, comments: @comments %>

<%= render 'comments/form', commentable: @report, new_comment: @new_comment %>

<%= link_to t('views.common.back'), reports_path %>
